@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-accent: var(--brand-accent);
  --color-bg-base: var(--bg-base);
  --color-bg-surface: var(--bg-surface);
  --color-text-base: var(--text-base);
  --color-text-muted: var(--text-muted);
}

:root {
  --bg-base: #f8fafc;
  --bg-surface: #ffffff;
  --text-base: #0f172a;
  --text-muted: #475569;
  
  --brand-primary: #ff5100;
  --brand-secondary: #0044ff;
  --brand-accent: #ffb703;
}

.dark {
  --bg-base: #0b1120;
  --bg-surface: #1e293b;
  --text-base: #f8fafc;
  --text-muted: #94a3b8;
  
  --brand-primary: #00f0ff;
  --brand-secondary: #ff003c;
  --brand-accent: #d946ef;
}

body {
  background-color: var(--bg-base);
  color: var(--text-base);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}
